<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="pas d'image">
  <div class="card-body">
    <h5 class="card-title">{{ livre.titre }}</h5>
    <p class="card-text">{{ livre.auteur }}</p>
    <a href="#" class="btn btn-primary">Voir plus</a>
  </div>
</div>

