
//$dark : orange;
$primary: rgb(99, 9, 87);
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "~bootstrap/scss/bootstrap";


body {
    background-color: lightgray;
}

footer{
    background-color: $dark;
    color: $light;
    width: 100%;
}
