{% extends 'home/index.html.twig' %}

{% block title %}Recherche{% endblock %}
{% block titreH1 %}Résultat pour la recherche de : {{mot}}{% endblock %}
{# {% block body %}

<div class="card-columns">
    {% for l in livres %}
        {{include("livre/vignette.html.twig", {livre: l}) }}
    {% else %}
            {{message|default("Aucun résultat pour cette recherche")}}

    {% endfor %}
</div>
{% endblock %} #}
{% set message  = "Aucun résultat pour cette recherche" %}